{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block nav %}
	{% include "components/resource/_nav.html.twig" %}
{% endblock nav %}

{% block body %}
	<div id="home">
		<h1>homepage</h1>
		<div class="container"></div>
	</div>
{% endblock %}
