{% extends 'base1.html.twig' %}

{% block title %}
  ACCEUIL | mslive.sn
{% endblock %}

{% block body %}
  <div id="home" class="">
    <div class="w-100">
      {% include 'resource/_nav.html.twig' %}
      <div class="body_home_container column">
        {% include 'resource/_header.html.twig' %}
        {% include 'resource/_body.html.twig' %}
      </div>
    </div>
    {# {% include 'resource/annonces-container.html.twig' %} #}
  </div>
{% endblock %}

{% block footer %}
  {% include 'resource/_footer.html.twig' %}
{% endblock %}
