{% extends 'base1.html.twig' %}

{% block title %}
	PAGE D'ACCEUL !
{% endblock %}
{% block body %}
	<div id="home" class="full cc">
		<div class="decor-01 fca">
			<div class="limit">
				{% include "resource/_nav.html.twig" %}
				<div class="navbar flex green">
					<a href="" class="btn">Shop</a>
					<a href="" class="btn">Contact</a>
				</div>
			</div>
		</div>
		{% include "resource/_header.html.twig" %}
		<section class="home-container">
			<h1 class="title">La partie du body content</h1>
		</section>
	</div>
{% endblock %}
{% block javascripts %}
	<script src = " {{ asset('bundles/js/ajax.js') }} "></script>
{% endblock %}
