{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block nav %}
	<div class="container-navs">
		{% include "resource/_nav.html.twig" %}
		{% include "resource/nav.html.twig" %}
	</div>
{% endblock nav %}
{% set i = services | length %}{% set cols = ['1877f2', '25d366', '1d11f2','c32aa3', 'ff0001', '0a66c2' ] %}
{% block body %}
	<div id="home">
		<div class="home_header">
			{% include "resource/_header.html.twig" %}
		</div>
		<h1 class="big-title line">Titre de la page</h1>
	</div>
{% endblock %}
{% block javascripts %}
	<script src = " {{ asset('js/ajax/home/home.js') }} "></script>
{% endblock %}
