{% extends 'base1.html.twig' %}

{% block title %}
  ACCEUIL | mslive.sn
{% endblock %}

{% block body %}
  <div id="home" class="flex">
    <div class="w-100">
      <nav id="nav_home" class="">
        {% include 'resource/_nav.html.twig' %}
      </nav>
      <div class="body_home_container w-100">
        {% include 'resource/_header.html.twig' %}
      </div>
      <h1 class="title line">titre h1</h1>
      <div class="container">
        <p>contenue</p>
      </div>
    </div>
    {# {% include 'resource/annonces-container.html.twig' %} #}
  </div>
{% endblock %}
