{% extends 'base.html.twig' %}

{% block title %}Hello AjaxController!
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1 class="big-title line">Je suis un titre de HA</h1>
	</div>
{% endblock %}
