#home .blocks .block {
    margin: 0 20px;
}

#home .block .block-service {
    margin-bottom: 10px;
    border-radius: 5px;
}

.home-body {
    min-height: 400px;
    padding: 5px;
    margin-top: 50px;
}

.home-aff-service {
    height: 300px;
}

.home-aff-client {
    height: 100px;
}

.home-navigateur {
    position: fixed;
    top: 0;
    width: 200px;
}

.home-Container {
    width: calc(100% - 200px);
    background-color: #fff;
}
