{% extends "home/index.html.twig" %}
{% block body %}
	<h2 class="big-title line">les services
		{{typeofservice}}</h2>
	<div class="container">
		<div class="row">
			<div class="blocks">
				{% for service in services %}
					<div class="block" style="--width:400px;--min-width:250px;--margin:10px">
						{% include "resource/components/single_block_service_designe.html.twig" %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
