{% extends 'base1.html.twig' %}

{% block title %}
	Hello ServicesController!
{% endblock %}
{% block nav %}
	{% include "resource/_nav.html.twig" %}
{% endblock %}
{% block body %}
	<div class="container-fluid" id="services">
		<h1 class="big-title line">tous nos services</h1>
	</div>
{% endblock %}
