{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!
{% endblock %}

{% block body %}
	<div class="container-fluid" id="search">
		result de recherche
		<div class="container"></div>
	</div>
{% endblock %}
