{% extends 'base1.html.twig' %}

{% block title %}Hello SearchController!
{% endblock %}

{% block body %}
	<div class="container-fluid" id="search">
		result de recherche
		<div { class="m-4" { { {{ attributes }}>
			<input
        type="search"
        name="query"
        value=
        data-action="live#update"
     = = ="{{ query }}">

			{% for blogpost in this.services %}
				{{ component('block', {'service': blogpost.slug}) }}
			{% endfor %}
		</div>
	</div>
{% endblock %}
