<nav>
	<div class="logo-container">
		<p class="p-logo">
			<strong>MS</strong>.<span>live</span>
		</p>
	</div>
	<div class="nav-links">
		<ul>
			<li>
				<a href="#">Home</a>
			</li>
			<li>
				<a href="#">Equipe</a>
			</li>
			<li>
				<a href="#">Services</a>
			</li>
			<li>
				<a href="#">Clients</a>
			</li>
			<li>
				<a href="#">Home</a>
			</li>
		</ul>
		<div class="">
			<button class="btn">Shop</button>
			<button class="btn">Contact</button>
		</div>
	</div>
</nav>
