{% extends 'base1.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}
	<div class="container-fluid" id="contact">
		<h1 class="big-title line">page de contact</h1>
		<div class="container">
			<div class="container-form fca">
				<form method="post" accept-charset="UTF-8" action="#" class="form-designe">
					<div class="form-input">
						<label for="username">
							<span>Username</span>
							<input id="username" type="text" required="required" name="username" />
						</label>
						<label for="email">
							<span>Email</span>
							<input id="email" type="text" name="email" />
						</label>
						<label for="password">
							<span>Password</span>
							<input id="password" type="password" name="password">
						</label>
					</div>
					<input type="submit" value="Register">
				</form>
			</div>
		</div>
	</div>
{% endblock %}
