<div class="full cca line">
  <h1 class="big-title line m0-10">grand titre de la page</h1>
  <div class="limit line br5 bg-init">
    <section class="line m10-0 fcb">
      <div class="row">
        <div class="col-7 cca">
          <p class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat repellendus dolore soluta vitae commodi numquam odio eius maiores sint. Facere praesentium natus, quod excepturi doloribus saepe consequatur qui voluptatem molestias.</p>
          <a href="#" class="btn btn-advance">Voir</a>
        </div>
        <div class="col-5 fca">
          <img class="" width="450px" src=" {{ asset('build/images/my/web/header.png') }} " alt="image de la publicite" />
          {# <img class="w-100" src=" {{ asset('build/images/my/web/logo-for-white-navbar.png') }}" alt="logo" /> #}
        </div>
      </div>
    </section>
  </div>
  <div class="container-full w-100 bg-init">
    <h2 class="big-title">ceux qui nous ont fait confiance</h2>
    <div class="row fca">
      <div class="limit flex">
        <div class="bg-second box line5 m0-10">
          <div class="box-top line10 br5 fcb">
            <h3 class="title">titre du clien</h3>
            <img class="" width="70px" height="70px" style="border-radius: 50%" src=" {{ asset('build/images/my/web/header.png') }} " alt="image de la publicite" />
          </div>
          <div class="box-body">
            <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quisquam?</p>
            <div class="cce">
              <p class="p text-uppercase line10">
                forfait <strong>30%</strong> d'ici ...
              </p>
              <p class="p text-uppercase line10">
                forfait <strong>50%</strong> d'ici ...
              </p>
              <p class="p text-uppercase line10">
                forfait <strong>90%</strong> d'ici ...
              </p>
            </div>
            <p class="p line10">
              profitez de ces promos avant la date limite pour en avoir plusse. <br />clicker sur ce boutton ci-dessous pour voir nos services en detaille
            </p>
          </div>
          <div class="rr m10-0 w-100">
            <a href="#" class="btn btn-advance" target="__blank">look</a>
          </div>
        </div>
        {# <div class="col-3 yellow">deuxieme</div>
        <div class="col-3 blue">troisieme</div>
        <div class="col-3 aqua">quatrime</div> #}
      </div>
    </div>
  </div>
</div>
