<header>
	<div class="decor-01">
		<div class="limit">
			<h1 class="big-title line">multiservices en ligne :
				<strong>Dakar - Sénégal</strong>
			</h1>
			<div class="fcb">
				<div class="text">
					{# <img src=" asset('build/images/my/icone_image/Global-Availability-1.png') " alt="image"> #}
				</div>
				<section class="box">
					<p class="p">
						<logo>
							<strong>MS</strong>.<span>live</span>
						</logo>
						vous propose une large gamme de
						<a href=" {{ path('app_services')  }} ">services</a>
						qui vont vous facilité vos projects et activités.
					</p>
					<p class="p">
						Vous pouvez consulté les
						<a href=" {{ path('app_services')  }} ">services</a>
					</p>
				</section>
			</div>
		</div>
	</div>
</header>
