<header>
  <div class="flex full">
    <div class="limit">
      <h1 class="big-title line">
        multiservices en ligne
        <br /><strong>Dakar - Sénégal</strong>
      </h1>

      <div class="container">
        <p class="p line">
          <strong>MS <span>live</span></strong> est votre plateforme qui vous aide sur vos <a href="#services">services</a> et activités. <br />Nous vous proposons une large gamme de services qui peuvent vous etre utiles pour future projects. <br /> ont vous invite a consulté notre page <br /><a href="#" class="btn btn-primary">services</a>
        </p>
      </div>
    </div>
    <div id="pub-header" class="w-100 pub-header"></div>
  </div>
</header>
