<header>
	<div class="container-fluid">
		<div class="img-header"></div>
		<div class="container">
			<h1 class="big-title line row">multiservices en ligne</h1>
			<div class="row fb">
				<section class="f-c-a ">
					<h2 class="smoll-title line">
						<strong>MS.<span>live</span>
						</strong>
						est la solution</h2>
					<p class="line p">
						<strong class="logo">MS.<span>live</span>
						</strong>
						est un service qui vas vous faire connaitre aux reste du tiers monde
						<br>
						<strong class="logo">MS.<span>live</span>
						</strong>
					</p>
				</section>
			</div>
		</div>
	</div>
</header>
