<div class="line flex header-infos">
	<p class="title">
		<strong>Vous pouvez appelez via ces numeros</strong>
	</p>
	<div class="flex info">
		<p class="num">
			<span>E-mail</span>:
			<strong>admi7.devops@gmail.com</strong>
		</p>
		<div class="nums">
			<p class="num">
				<span>Tel</span>:
				<strong>77 361 06 81</strong>
			</p>
			<p class="num">
				<span>Tel</span>:
				<strong>77 409 52 78</strong>
			</p>

		</div>
	</div>
</div>
