<div class="w-100 navbar">
	<ul class="block-ul flex">
		<li class="bg-second rad-05">
			<button class="btn">Activités</button>
			<div class="fcb line container-block-li w-100">
				<div class="row">
					<div class="fcb line-05">
						<h3 class="title">Prestation de service</h3>
						<div class="contain-title">
							<p class="p">Je suis le container de ce title</p>
						</div>
					</div>

				</div>

			</div>
		</li>

	</ul>
</div>
<style></style>
