<div class="container">
	<h2 class="line title">Liste des services !</h2>
	<div class="fcb wrap">
		<article>
			<h4 class="smoll-title line w-100">title of service</h4>
			<img src="" alt="if you put images inside">
			<div class="text">
				<p class="p">somme text here
					<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sunt fugit id rem quae tempora harum, fuga ex laudantium dolorum error laboriosam, enim recusandae porro culpa atque aliquid earum minus!</p>
			</div>
			<a href="">link to service</a>
		</article>
		<article>
			<h4 class="smoll-title line w-100">title of service</h4>
			<img src="" alt="if you put images inside">
			<div class="text">
				<p class="p">somme text here
					<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sunt fugit id rem quae tempora harum, fuga ex laudantium dolorum error laboriosam, enim recusandae porro culpa atque aliquid earum minus!</p>
			</div>
			<a href="">link to service</a>
		</article>
		<article>
			<h4 class="smoll-title line w-100">title of service</h4>
			<img src="" alt="if you put images inside">
			<div class="text">
				<p class="p">somme text here
					<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sunt fugit id rem quae tempora harum, fuga ex laudantium dolorum error laboriosam, enim recusandae porro culpa atque aliquid earum minus!</p>
			</div>
			<a href="">link to service</a>
		</article>

	</div>
</div>
