<div class="container w-100">
	<h2 class="line title">Liste des services !</h2>
	<div class="fcb">
		<button class="btnSliderLeft btnSlide">L</button>
		<a href="#testdiv" id="">testdiv</a>
		<div class="line-nowrap slideBarArticles" id="slideBarArticles">
			<div class="article slideArticle">
				<h4 class="smoll-title line w-100">title of service</h4>
				<img src="" alt="if you put images inside">
				<div class="text">
					<p class="p">somme text here
						<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sunt fugit id rem quae tempora harum, fuga ex laudantium dolorum error laboriosam, enim recusandae porro culpa atque aliquid earum minus!</p>
				</div>
				<a href="">link to service</a>
			</div>
			<div class="article slideArticle">
				<h4 class="smoll-title line w-100">title of service</h4>
				<img src="" alt="if you put images inside">
				<div class="text">
					<p class="p">somme text here
						<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sunt fugit id rem quae tempora harum, fuga ex laudantium dolorum error laboriosam, enim recusandae porro culpa atque aliquid earum minus!</p>
				</div>
				<a href="">link to service</a>
			</div>
			<div class="article slideArticle" id="testdiv">
				<h4 class="smoll-title line w-100">title of service testdiv</h4>
				<img src="" alt="if you put images inside">
				<div class="text">
					<p class="p">somme text here
						<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sunt fugit id rem quae tempora harum, fuga ex laudantium dolorum error laboriosam, enim recusandae porro culpa atque aliquid earum minus!</p>
				</div>
				<a href="">link to service</a>
			</div>
			<div class="article slideArticle">
				<h4 class="smoll-title line w-100">title of service</h4>
				<img src="" alt="if you put images inside">
				<div class="text">
					<p class="p">somme text here
						<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sunt fugit id rem quae tempora harum, fuga ex laudantium dolorum error laboriosam, enim recusandae porro culpa atque aliquid earum minus!</p>
				</div>
				<a href="">link to service</a>
			</div>

		</div>
		<button class="btnSliderRight btnSlide">R</button>
	</div>

</div>
