<!DOCTYPE html>
<html>
  <head lang="fr-FR">
    {% block meta %}
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="application-name" content="MSlive Dakar Senegal" />
    {% endblock %}
    <title>
      {% block title %}
        Accueil | mslive.sn
      {% endblock %}
    </title>

    <!-- Feuilles de styles -->
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
      {# <link rel="stylesheet" href=" {{ asset('@fortawesome/fontawesome-free/css/all.min.css') }} " /> #}
    {% endblock %}
  </head>
  <body>
    <div id="app">
      <div id="root">
        {% block nav %}

        {% endblock %}
        <div class="main">
          {% block body %}

          {% endblock %}
        </div>
        <div id="add"></div>
      </div>
      {% block footer %}

      {% endblock %}
    </div>

    <!-- Fichiers JS -->
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
      {{ encore_entry_script_tags('appts') }}
    {% endblock %}
  </body>
</html>
