{# <div class="card m-4">
  <div class="card-body">
    <h5 class="card-title">Blogpost Title</h5>
    <p class="card-text">Blogpost content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit molestiae quam quaerat corrupti fugiat enim dolorem, esse aspernatur porro non dignissimos fugit quae ratione temporibus!</p>
  </div>
</div> #}


{# <div class="card m-4">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ content }}</p>
  </div>
</div> #}


<div class="card m-4">
  <div class="card-body">
    <h5 class="card-title">{{ this.blogpost.title }}</h5>
    <p class="card-text">{{ this.blogpost.content }}</p>
  </div>
</div>
