{# templates/components/product_search.html.twig #}
<div {{ attributes }}>
    <input
        type="search"
        name="query"
        value="{{ query }}"
        data-action="live#update"
    >

    <ul>
        {% for product in this.products %}
            <li>{{ product.name }}</li>
        {% endfor %}
    </ul>
</div>
