{# templates/components/random_number.html.twig #}

{# ds outils en plus pour live component #}

{# {{ component('random_number', { min: 5, max: 500 }) }} #}


{# {{ component('random_number', { min: 5, max: 500, class: 'widget', style: 'color: black;' }) }} #}
{# renders as: #}
{# <div class="widget" style="color: black;" <!-- other live attributes -->></div> #}




<div {{ attributes }} >
    <strong>{{ this.randomNumber }}</strong>

    <button data-action="live#$render">Generate a new number!</button>
</div>
