{% for services in this.services %}
	<div class="service block">
		<div class="service block">
			<p class="title line bg-second">{{services.1}}</p>
			<p class="title line-05 mrg">{{services.2}}</p>
			<div class="blocks">
				{% for service in services.0 %}
					{{ component('service', {'service': service}) }}
				{% endfor %}
			</div>
		</div>
	</div>
{% endfor %}
