.flex,
.box,
.container,
.container-fluid,
.blocks,
.row {
    display: flex;
}

.container,
.col,
.box,
.row,
.container-fluid {
    flex-direction: column;
}

.mrg {
    margin: 20px;
}

.line {
    padding: 20px;
}

.mrg-15 {
    margin: 15px;
}

.line-15 {
    padding: 15px;
}

.mrg-10 {
    margin: 10px;
}

.rad-10 {
    border-radius: 10px;
}

.line-10 {
    padding: 10px;
}

.mrg-0-15 {
    margin: 0 15px;
}

.mrg-0-10 {
    margin: 0 10px;
}

.mrg-0-05 {
    margin: 0 5px;
}

.rad-05 {
    border-radius: 05px;
}

.line-05 {
    padding: 05px;
}

.container {
    width: 95%;
}

.container-fluid,
.w100,
.blocks,
.row {
    width: 100%;
}

.container-fluid {
    justify-content: space-evenly;
    align-items: center;
}

.blocks,
.row {
    flex-wrap: wrap;
}

.box {
    min-height: 250px;
    min-width: 200px;
}

.blocks {
    padding: 10px;
}

.block {
    min-width: 300px;
    max-width: 400px;
    min-height: 150px;
    margin: 5px;
}

.blocks {
    margin: 5px;
}

.bg-second {
    background-color: var(--bg-second);
    color: var(--col-second);
}

.bg-second-trans {
    background-color: var(--bg-second-trans);
    color: var(--col-second);
}

.bg-init {
    background-color: var(--bg-init);
    color: var(--col-init);
}

.bg-init-trans {
    background-color: var(--bg-init-trans);
    color: var(--col-init);
}

.bg-second a,
.bg-init a,
.bg-second-trans a,
.bg-init-trans a {
    color: inherit;
}
