/* CLASS */
/* *************************************** */
.flex {
    display: flex;
}

.fcb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fce {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fca {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fb {
    display: flex;
    justify-content: space-between;
}

.fe {
    display: flex;
    justify-content: space-evenly;
}

.fa {
    display: flex;
    justify-content: space-around;
}


// SECTION COLUMN ***********
.column {
    @extend %column;
}

.ca {
    @extend %column;
    justify-content: space-around;
}

.ccb {
    @extend %column;
    align-items: center;
    justify-content: space-between;
}

.cce {
    @extend %column;
    align-items: center;
    justify-content: space-evenly;
}

.cca {
    @extend %column;
    align-items: center;
    justify-content: space-around;
}

.cb {
    @extend %column;
    justify-content: space-between;
}

.ce {
    @extend %column;
    justify-content: space-evenly;
}

.cc {
    @extend %column;
    align-items: center;
}

.fc {
    display: flex;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}


// SECTION ROW ***********

.rr {
    @extend %fr;
}
