/* CLASS */
/* *************************************** */
.fcb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fce {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fca {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fb {
    display: flex;
    justify-content: space-between;
}

.fe {
    display: flex;
    justify-content: space-evenly;
}

.fa {
    display: flex;
    justify-content: space-around;
}
